CONFIG_NN_ANSI_C=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60
CONFIG_EI_DISABLE_HW_ACCEL=n

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y